doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Is My Train Delayed?
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans")
		link(rel="stylesheet" href="css/main.css")

	body
		.wrapper
			header(aria-label="App title")
				div(role="banner")
					h1.banner__title Is My &#x1F684 Delayed?
			main
				section.train-info(aria-label='Train information')
					if trains.length
					table
						thead
							tr
								td(colspan='2') Train Line
								td Status
						tbody
							if trains.length
								each train in trains
									tr
										td #[span.status-circle(class= train.status === "Delayed" ? "delayed" : "on-time")]
										td= train.name
										if train.status === "Delayed"
											td.
												#[a.delay-info-expand(href='') #{train.status}]
												#[span.delayed-msg(class= train.status === "On time" ? "delayed-msg--hidden" : undefined)]
										else
											td #{train.status} #[span.delayed-msg(class= train.status === "On time" ? "delayed-msg--hidden" : undefined)]
											//- td #{train.status} #[span.delayed-msg(class= train.status === "On time" ? "delayed-msg--hidden" : undefined) (#{ train.status === "Delayed" ? train.details[0].delayLength : undefined})]

									if train.status === "Delayed"
										if train.details[0]
											tr.delay-info
												td
												td(colspan='2')
													each delay in train.details
														.delay
															span.delay-info__train !{delay.delayedTrain}
															span.delay-info__length !{delay.delayLength}
															span.delay-info__status !{delay.delayStatus}
							else
								tr
									td Unable to retrieve train information.

					.train-info__last-retrieved
						p.
							Last refreshed: #{retrieveTime}

					//- .train-info__actions
					//- 	button(type='button') Refresh

				.site-info(role='contentinfo' aria-label='Information about Is My Train Delayed?')
					h2 How does this work?
					p.
						This application uses the official GO Transit website to get its data. Whatever the GO Transit website shows for train delays is what this site will show. So no, unfortunately we can't predict what trains will be delayed.

					h2 Coming Soon
					p.
						#[strong Delay Information]
					p(style='text-decoration: line-through;').
						Get additional delay information (e.x., Length of delay, direction).
					
					strong Auto Fetch
					p.
						Turn on Auto Fetch to make IMTD? automatically update information every 5 minutes.

					h2 Want to Help?
					p.
						Want to help improve this application? Please open an issue on the GitHub repo at #[a(href='') https://github.com/danieldafoe/is-my-train-delayed] .


		footer
			p.
				An  experiment by #[a(href='https://danieldafoe.github.io') Daniel Dafoe].

		script(src='js/app.js')