doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Is My Train Delayed?
		link(rel="stylesheet" href="css/main.css")

	body
		header(aria-label="App title")
			div(role="banner")
				h1.banner__title Is My &#x1F684 Delayed?
		main
			.last-retrieved
				p.
					Last retrieved: #{retrieveTime}
			.train-info
				table
					thead
						tr
							td Line
							td Delayed?
					tbody
						each train in trains
							tr
								td= train.name
								td= train.isDelayed
					//- each train in trains
					//- 	li #{train.name} - Delayed? #{train.isDelayed}
